<!DOCTYPE HTML>
<!--
  Landed by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>奢遇 - 遇见你的极致缘分</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  </head>
  <body class="landing">
    <div id="page-wrapper">

      <!-- Header -->
        <header id="header">
          <h1 id="logo"><img src="/images/logo.png" style="width: 50px"></h1>
        </header>

      <!-- Banner -->
        <section id="banner">
          <div class="content">
            <header>
              <h2>奢遇 - 遇见你的极致缘分</h2>
              <p>北上广专属的高端交友 | 第一批会员招收中</p>
              <br/><a href="https://www.wenjuan.in/s/Ajuuea/" style=" background: #fff;padding: 20px 40px;border-radius: 10px;font-size: 20px;text-decoration: none;cursor: pointer;">申请加入</a>
            </header>
            <img class="demo_image" src="images/phone.png" alt="" />
          </div>
          <a href="#two" class="goto-next scrolly">Next</a>
        </section>

      <!-- One -->
<!--        <section id="one" class="spotlight style1 bottom">
          <span class="image fit main"><img src="images/pic02.jpg" alt="" /></span>
          <div class="content">
            <div class="container">
              <div class="row">
                <div class="4u 12u$(medium)">
                  <header>
                    <h2>专属高端人士</h2>
                    <p>专属北上广丶专属高端的你/妳。<br/>审核制会员，上流的一场宴会。</p>
                  </header>
                </div>
                <div class="4u 12u$(medium)">
                  <p>月费2000元仅仅是一个门槛，我们会审核每一位要加入的会员，让每一位你在奢遇见到的人，都是来自上流社会的菁英份子。</p>
                </div>
                <div class="4u$ 12u$(medium)">
                  <p>高端的你，就应该遇见高端的TA。<br/>你们会拥有一样的高视野丶一样的高水准。<br/>一个真正能发展的缘分</p>
                </div>
              </div>
            </div>
          </div>
          <a href="#two" class="goto-next scrolly">Next</a>
        </section> -->

      <!-- Two -->
        <section id="two" class="spotlight style2 right">
          <span class="image fit main"><img src="images/pic03.jpg" alt="" /></span>
          <div class="content">
            <header>
              <h2>专属高端人士</h2>
              <p>专属北上广丶专属高端的你/妳。<br/>审核制会员，上流的一场宴会。</p>
            </header>
            <p>月费仅仅是一个门槛。<br/>我们会审核每一位申请加入的会员<br/>让每一位你在奢遇见到的人<br/>都是来自上流社会的菁英份子。</p>
            <ul class="actions">
              <a href="https://www.wenjuan.in/s/Ajuuea/" style=" background: #fff;padding: 20px 40px;border-radius: 10px;font-size: 20px;text-decoration: none;cursor: pointer;">申请加入</a>
            </ul>
          </div>
          <a href="#three" class="goto-next scrolly">Next</a>
        </section>

      <!-- Three -->
        <section id="three" class="spotlight style3 left">
          <span class="image fit main bottom"><img src="images/pic04.jpg" alt="" /></span>
          <div class="content">
            <header>
              <h2>为不凡的缘分打造</h2>
              <p>不凡的您，就应该遇见不凡的TA。</p>
            </header>
            <p>你们会拥有一样的高视野<br/>一样的高水平。<br/>避开没品质的缘分！<br/>遇见一个真正能发展的未來！</p>
            <ul class="actions">
              <a href="https://www.wenjuan.in/s/Ajuuea/" style=" background: #fff;padding: 20px 40px;border-radius: 10px;font-size: 20px;text-decoration: none;cursor: pointer;">申请加入</a>
            </ul>
          </div>
          <a href="#four" class="goto-next scrolly">Next</a>
        </section>

      <!-- Four -->
        <section id="four" class="wrapper style1 special fade-up">
          <div class="container">
            <header class="major">
              <h2>确保最高品质的交友服务</h2>
              <p>我们的机制</p>
            </header>
            <div class="box alt">
              <div class="row uniform">
                <section class="4u 6u(medium) 12u$(xsmall)">
                  <span class="icon alt major fa-area-chart"></span>
                  <h3>透过价格筛选品质</h3>
                  <p>所有男性会员，都必须付每月2000元的月费，以保障会员品质。</p>
                </section>
                <section class="4u 6u$(medium) 12u$(xsmall)">
                  <span class="icon alt major fa-comment"></span>
                  <h3>人工审核机制</h3>
                  <p>无论男性女性，都必须经过人工的审核才能加入会员。</p>
                </section>
                <section class="4u$ 6u(medium) 12u$(xsmall)">
                  <span class="icon alt major fa-flask"></span>
                  <h3>有趣的互动话题丶游戏</h3>
                  <p>APP提供有趣的互动游戏：真心话大冒险丶画画猜题，让你们边玩边互相熟悉！</p>
                </section>
              </div>
            </div>
            <footer class="major">
              <ul class="actions">
                <a href="https://www.wenjuan.in/s/Ajuuea/" style=" background: #fff;padding: 10px 40px;border-radius: 10px;font-size: 20px;text-decoration: none;cursor: pointer;">申请加入</a>
              </ul>
            </footer>
          </div>
        </section>

      <!-- Five -->
        <section id="five" class="wrapper style2 special fade">
          <div class="container">
            <header>
              <h2>马上申请加入</h2>
              <p>我们正在招收第一批会员，您直得成为前瞻者！</p>
            </header>
            <a href="https://www.wenjuan.in/s/Ajuuea/" style=" background: #fff;padding: 10px 40px;border-radius: 10px;font-size: 20px;text-decoration: none;cursor: pointer;">申请加入</a>
          </div>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <ul class="copyright">
            <li>&copy; Danny's Studio All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>
        </footer>

    </div>

    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.scrolly.min.js"></script>
      <script src="assets/js/jquery.dropotron.min.js"></script>
      <script src="assets/js/jquery.scrollex.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/js/main.js"></script>

  </body>
</html>